<h2>Hubot Plugins</h2>
<div class="list-group">
	<a href="{{plugin.npmjsUrl || plugin.githubUrl}}" class="list-group-item" ng-repeat="plugin in plugins">
		<div class="plugin-title">
			<img src="{{plugin.avatarUrl}}" width="30" height="30" />
			{{plugin.name}}
		</div>
		<div>{{plugin.npmjsDescription}}</div>
		<div class="date">created {{plugin.created | dateFormat}}</div>
		<div class="date">last updated {{plugin.updated | dateFormat}}</div>
		<div class="keywords">
			keywords: <span ng-repeat="keyword in plugin.keywords">{{keyword}} </span>
		</div>
	</a>
</div>