<h2 class="pull-left">Hubot Plugins</h2>
<form class="form-inline pull-right" role="form">
	<div class="form-group has-feedback">
		<input type="text" id="searchPlugins" class="form-control" placeholder="Search plugins">
		<span class="glyphicon glyphicon-search form-control-feedback"></span>
	</div>
</form>
<div class="clearfix"></div>
<div class="list-group">
	<a href="{{plugin.npmjsUrl || plugin.githubUrl}}" class="list-group-item" ng-repeat="plugin in plugins">
		<h3>
			<img src="{{plugin.avatarUrl}}" width="30" height="30" />
			{{plugin.name}}
		</h3>
		<div class="lead">{{plugin.npmjsDescription}}</div>
		<div class="date">created {{plugin.created | dateFormat}}</div>
		<div class="date">last updated {{plugin.updated | dateFormat}}</div>
		<div class="keywords">
			keywords: <span ng-repeat="keyword in plugin.keywords">{{keyword}} </span>
		</div>
	</a>
</div>